.header{
display: flex;
justify-content: space-between;
align-items: center;

}
.titulo span{
    background-color: orange;
    color: white;
    border-radius: 100%;
    padding:   0.8rem 0.3rem;
}


.btn{
text-decoration: none;
background-color: rgb(36, 6, 69);
color: white;
font-weight: 600;
padding: 0.5rem 2rem;
border-radius: 3px;

}